node_modules
/framework/node_modules
/eSportsApp/
examples/**/node_modules
examples/**/dist
examples/**/build
examples/**/coverage
examples/**/bun.lockb
examples/**/bunfig.toml


**/node_modules
**/out
**/dist
**/build
**/coverage
**/bun.lockb
**/bunfig.toml
**/**/node_modules
**/**/out
**/**/dist
**/**/build
**/**/coverage
**/**/bun.lockb
**/**/bunfig.toml
